/*
----------------------------------------
RIG Framework (built for CFX Platforms)

Author: Case (https://caseirl.dev)
Repo: https://github.com/rig-framework/rig-cfx
License: https://github.com/rig-framework/rig-cfx/blob/main/LICENSE
----------------------------------------
*/

.prog_timer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.1);
}

.progress_circle {
    position: relative;
    width: 160px;
    height: 160px;
}

#progress_canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 160px;
    height: 160px;
}

.timer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: var(--text_primary);
    font-family: var(--header_font);
    letter-spacing: 0.05rem;
}

.status_message {
    margin-left: 2vh;
    margin-top: -2vh;
    color: var(--text_secondary);
    font-family: var(--text_font);
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    z-index: 9999;
}