/*
----------------------------------------
RIG Framework (built for CFX Platforms)

Author: Case (https://caseirl.dev)
Repo: https://github.com/rig-framework/rig-cfx
License: https://github.com/rig-framework/rig-cfx/blob/main/LICENSE
----------------------------------------
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    //background: grey;
    font-family: var(--text_font);
}

.hidden {
    display: none !important;
}

i, p { 
    padding: 2px; 
}

textarea:focus,
input:focus,
button:focus {
    outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

::-webkit-scrollbar {
    width: 0.2vh;
    height: 0.2vh;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar_track);
}

::-webkit-scrollbar-thumb {
    background: var(--accent);
}

::-webkit-scrollbar-corner {
    background: var(--scrollbar_track);
}

#ui_container {
    position: fixed;
    inset: 0;
    z-index: 1;
}

#ui_base,
#ui_main,
#ui_focus {
    position: absolute;
    inset: 0;
}

#ui_base {
    z-index: 1;
    pointer-events: none;
}

#ui_main {
    z-index: 10;
    pointer-events: auto;
}

#ui_focus {
    z-index: 100;
    pointer-events: none;
}

.scroll_y_none {
    overflow-y: hidden !important;
}
.scroll_y_auto {
    overflow-y: auto !important;
}
.scroll_y_on {
    overflow-y: scroll !important;
}
.scroll_x_none {
    overflow-x: hidden !important;
}
.scroll_x_auto {
    overflow-x: auto !important;
}
.scroll_x_on {
    overflow-x: scroll !important;
}

.vignette {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: none;
    z-index: -1;
}